h1 {
    color: blue;
}

.items {
    margin-left: 20px;
}

.items__card {
    background-color: pink;
    width: 200px;
    height: 150px;
    cursor: pointer;
    padding: 5px;
}

.items__card:hover {
    background-color: lightpink;
    border: 0.5px solid lightcoral;
    transition: .2s ease-in-out;
}